!!! 5
html
  head
    title Phaser Template
    link(rel='stylesheet', href='/assets/css/application.css')
    script(src='/assets/js/phaser.min.js')
    script(src='/assets/js/application.js')
  body
    :coffeescript
      window.onload = ->
        @app = new App()
        @app.boot()
